{% extends 'store/base.html' %}

{% load static %}

{% block content %}

  <style>
    body{
      background-color: gray;
    }
  </style>

  <body>
    <br>

    <div class="container bg-light shadow-md p-5 form-layout">

      <div class="text-center">

        <i class="text-danger fa fa-credit-card-alt fa-3x" aria-hidden="true"></i>

        <br><br>

        <h5><strong> Payment Faild! </strong></h5>

        <hr>

        <p>Your order not proccesd!</p>

      </div>

    </div>

  </body>

{% endblock  %}